
.logo__editarboton{
  width: 20px;
  height: 20px;
  background-image: url(../../../images/Logo-Editarboton/Logo-Editarboton.svg);
  background-size: cover;
  border:1px solid #FFFFFF;
}

.logo__editarboton:hover{
  border: 1px solid rgba(255, 255, 255, 0.6);
  opacity: 50%;
}


@media (min-width:320px) and (max-width:900px) {
  .logo__editarboton{
    width: 3vw;
    height: 3vw;
    background-image: url(../../../images/Logo-Editarboton/Logo-Editarboton.svg);
    background-size: cover;
    border:1px solid #FFFFFF;
    margin-right: 10vw;
  }

  .logo__editarboton:hover{
    border: 1px solid rgba(255, 255, 255, 0.6);
    opacity: 50%;
  }
}
  
@media (min-width:900px) and (max-width:1280px) {
  .logo__editarboton{
    width: 1.8vw;
    height: 1.8vw;
    background-image: url(../../../images/Logo-Editarboton/Logo-Editarboton.svg);
    background-size: cover;
    border:1px solid #FFFFFF;
  }

  .logo__editarboton:hover{
    border: 1px solid rgba(255, 255, 255, 0.6);
    opacity: 50%;
  }
}
  

 
