@media (min-width:320px) and (max-width:900px) {
  
  .box-box{
    margin-top: 40%;
    display:flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    border:2px solid #FFFFFF;
    justify-content:center;
    align-items: center;
  }

  .box-box:hover{
    border: 2px solid rgba(255, 255, 255, 0.6);
  }
}
  
